@(signinForm: Form[SigninForm.Data], invalidCredentials: Boolean = false)(implicit request: MessagesRequestHeader)

@main("Signin") {
  <div class="container-fluid">
    @helper.form(action = routes.AppController.signin, 'class -> "form-signin") {
      <h2 class="form-signin-heading">Sign in</h2>
      @if(invalidCredentials) { Invalid credentials, try again. }
      @helper.CSRF.formField
      @helper.inputText(SigninForm.form("username"), 'class -> "form-control", 'required -> "", 'autofocus -> "", '_label -> "Username")
      @helper.inputPassword(SigninForm.form("password"), 'class -> "form-control", 'required -> "", '_label -> "Password")
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <a href="signup.html">Don't you have an account yet ? Signup</a>
    }
  </div>
}
