@()

@main("Signup") {
  <div class="container-fluid">
    <div class="page-header">
      <h1>Create an account</h1><hr>
    </div>

    <form class="form">
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label> First Name </label>
            <input type="text" class="form-control" id="firstName" placeholder="Enter your fist name">
          </div>
          <div class="col-sm-6">
            <label> Last Name </label>
            <input type="text" class="form-control" id="lastName" placeholder="Enter your last name">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label> Email </label>
            <input type="email" class="form-control" id="email1" placeholder="Enter your email">
          </div>
          <div class="col-sm-6">
            <label> Email </label>
            <input type="email" class="form-control" id="email2" placeholder="Confirm your email">
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label> Password</label>
            <input type="password" class="form-control" id="password1" placeholder="Enter your password">
          </div>
          <div class="col-sm-6">
            <label> Password</label>
            <input type="password" class="form-control" id="password2" placeholder="Confirm your password">
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label> Birthday </label>
            <input type="date" class="form-control" id="birthday">
          </div>
          <div class="col-sm-6">
            <label> Education </label>
            <input type="password" class="form-control" id="password2" placeholder="Engineering school, Business school,...">
          </div>

        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <a class="btn  btn-primary btn-block" type="submit" href="home.html">register</a>
        </div>
      </div>
    </form>
  </div>
}
