Groupe 3: Manel Khentout, Hamdi Hassine, Fatima-Zahra Houmada, Idir Lankri

Evaluator - Système d'evaluation automatique pour l'enseignement
      Cahier des charges

1. Deux types d'utilisateur :

  1.1 enseignant

  1.2 etudiant

La base de donnees contenant les utilisateurs (id + mdp) existe deja.


2. Specification fonctionnelle

  2.1 Utilisateurs

  2.1.1 L'enseignant :

  - creer un nouveau devoir (qcm, redaction, exo de programmation,
    ...).  Pour les qcms, l'enseignant doit fournir au systeme les
    questions et les (bonnes) reponses.  De maniere similaire, pour les
    exos de prog, l'ens doit fournir des tests unitaires.

  - acceder a la liste de ses etudiants et a leurs travaux

  - donner des notes a ses etudiants

  2.1.2 L'etudiant :

  - obtenir la liste des cours dispos

  - s'inscrire a un cours

  - acceder au sujet des devoirs

  - soumettre une reponse a un devoir

  - consulter ses notes


  2.2 Traitement des devoirs

  Pour les QCM et pour les exos de programmation :

  - Correction automatique

  - Attribution des notes automatique

3. Specification non-fonctionnelle

  - Securite : Chiffrement des donnees (mdp p. ex)

  - Reutilisabilite

  - Extensibilite : Par exemple, ajout de nouveaux formats pour les
    devoirs.

  - Portabilite

  - Documentation

  - Network topology
