@()

@main("events") {

	
	<div class="divider"></div>
	
	<div class="content">
		<div class="container">

			<div class="main-content">
				<h1>base de données</h1>
				<section class="posts-con">
					<article>

						<div class="info">
							<p>
							Ce cours a pour objectif de vous apprendre les principes des bases de données, les langages d'interrogation et de mise à jour, les techniques d'optimisation et de contrôle des requêtes, les méthodes de conception et la gestion des transactions. Complet et didactique, ce cours se caractérise par des définitions précises des concepts, une approche éclairante des algorithmes et méthodes, de nombreux exemples d'application, une bibliographie commentée en fin de chaque chapitre et un recueil d'exercices en fin d'ouvrage. C'est un tutoriel pour vous apprendre à utiliser les bases de données relationnelles ainsi que les bases de données objet et objet-relation.
						
							</p>
						</div>
					</article>

				</section>
			</div>
			

	
		</div>
		<!-- / container -->
	</div>
	

</html>

}
