@()

@main("events") {

	
	<div class="divider"></div>
	
	<div class="content">
		<div class="container">

			<div class="main-content">
				<h1>programmation orientée objet</h1>
				<section class="posts-con">
					<article>

						<div class="info">
							<p>
							Dans ce chapitre, nous allons essayer de décrire ce qu'est la programmation orientée objet (abrégée souvent en POO). Je dis bien « essayer », car pour être complètement traitée, la POO nécessiterait qu'on lui dédie un ouvrage entier !

							Nous allons tâcher d'aller à l'essentiel et de rester proche de la pratique. Ce n'est pas très grave si tous les concepts abstraits ne sont pas parfaitement appréhendés : il est impossible d'apprendre la POO en deux heures. Cela nécessite une longue pratique, beaucoup d'empirisme et des approfondissements théoriques.

							Ce qui est important ici, c'est de comprendre les notions de base et de pouvoir les utiliser dans de petits programmes.
							Après cette mise au point, attaquons sans plus tarder la programmation orientée objet !
						
							</p>
						</div>
					</article>

				</section>
			</div>
			

	
		</div>
		<!-- / container -->
	</div>
	

</html>

}
