@(user: User)

@userMain("Home page", user) {
<h1>Hello @user.name</h1>

<div class="d-flex flex-row">
  <div class="p-2 col-4">
    <div class="card" >
      <div class="card-body">
        <h4 class="card-title">Cours 1</h4>
        <p class="card-text">Descritpion du cours 1</p>
        <a href="cour1.html" class="btn btn-primary">Détails</a>
      </div>
    </div>
  </div>

  <div class="p-2 col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cours 2</h4>
        <p class="card-text">Descritpion du cours 2</p>
        <a href="cour2.html" class="btn btn-primary ">Détails</a>
      </div>
    </div>
  </div>

  <div class="p-2 col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cours 3</h4>
        <p class="card-text">Descritpion du cours 3</p>
        <a href="cour3.html" class="btn btn-primary">Détails</a>
      </div>
    </div>
  </div>
</div>

<div class="d-flex flex-row">
  <div class="p-2 col-4">
    <div class="card" >
      <div class="card-body">
        <h4 class="card-title">Cours 4</h4>
        <p class="card-text">Descritpion du cours 4</p>
        <a href="cour4.html" class="btn btn-primary">Détails</a>
      </div>
    </div>
  </div>

  <div class="p-2 col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cours 5</h4>
        <p class="card-text">Descritpion du cours 5</p>
        <a href="cour5.html" class="btn btn-primary ">Détails</a>
      </div>
    </div>
  </div>

  <div class="p-2 col-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cours 6</h4>
        <p class="card-text">Descritpion du cours 6</p>
        <a href="cour6.html" class="btn btn-primary">Détails</a>
      </div>
    </div>
  </div>
</div>
}
